<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user's info</title>
</head>
<body>
    <form th:method="post" th:action="@{/update}" th:object="${user}" style="display:inline;">
        <input type="hidden" th:field="*{id}"/>
        <label for="firstName">Enter first name:</label>
        <input type="text" th:field="*{firstName}" id="firstName">
        <br>
        <label for="lastName">Enter last name:</label>
        <input type="text" th:field="*{lastName}" id="lastName">
        <br>
        <label for="email">Enter email:</label>
        <input type="text" th:field="*{email}" id="email">
        <br>
        <label for="age">Enter age:</label>
        <input type="text" th:field="*{age}" id="age">
        <br><br>
        <input type="submit" value="Update"/>
    </form>
    <form th:method="post" th:action="@{/delete}" style="display:inline;"
          onsubmit="return confirm('Are you sure you want to delete this user?');">
        <input type="hidden" name="id" th:value="${user.id}"/>
        <button type="submit">Delete</button>
    </form>
    <form th:method="get" th:action="@{/}" style="display:inline;">
        <button type="submit">Return to user list</button>
    </form>
</body>
</html>